# Discussion 05 Notebook

This notebook is an accompaniment to the associated discussion worksheet handout.

# Section II. Data Model Concepts

## Question 9

Consider the following matrix.

In [ ]:
import pandas as pd
data_q9 = {
    "Student": ["Ariel", "Ariel", "Devin", "Mary"],
    "Course ID": [101, 102, 101, 103],
    "Score": [79.2, 92.1, 85.0, 90.0]
}
df_q9 = pd.DataFrame(data_q9)
df_q9["Student"] = df_q9["Student"].astype("string")

display(df_q9)
display(df_q9.dtypes)

Transpose the matrix. What are the dtypes of each transposed column?

In [ ]:
dft_q9 = df_q9.transpose()
display(dft_q9)
display(dft_q9.dtypes)

If we transpose the dataframe again, would we get back the original dataframe? Explain.

In [ ]:
dftt_q9 = df_q9.transpose().transpose()
display(dftt_q9)
display(dftt_q9.dtypes)

# Section III. Pivoting and Unpivoting

## Question 11

**_Pivoting._** Write a Pandas expression to reshape the following table such that its columns are the 3
types of metals in the `CType` column, and whose values are taken from the `USD` column. Also write the
resulting table.

In [ ]:
data_q11 = {
    'Item': ['Item0', 'Item0', 'Item1', 'Item1'],
    'CType': ['Gold', 'Bronze', 'Gold', 'Silver'],
    'USD': ['$1', '$2', '$3', '$4'],
    'EUR': ['€1', '€2', '€3', '€4']
}
df_q11  = pd.DataFrame(data_q11)
df_q11

In [ ]:
# Write your code here

## Question 12

**_Unpivoting._** Write a Pandas expression to reshape the following table from a _wide_ shape into a long shape, using the student and school columns as identifiers, and the rest of the subjects as variables.
Also write the resulting table. Hint: `use df.melt()`.

In [ ]:
data_q12 = {
    'student': ['Andy', 'Bernie', 'Cindy', 'Deb'],
    'school': ['Z', 'Y', 'Z', 'Y'],
    'english': [90, 100, 60, 150],
    'math': [60, 5, 99, 4],
    'physics': [80, 4, 100, 5]
}

df_q12 = pd.DataFrame(data_q12)
df_q12

In [ ]:
# Write your code here